.githooks/
.ipynb_checkpoints/
Database_Data_Raw/ChEMBL_data/StaphylococcusAureus/Staphylococcus_aureus_compounds.csv
Ebola/Results_Ebola/Ebola_wchemberta_molformer_mist_ARTready.csv
Database_Data_Raw/ChEMBL_data/Ebola/PubChem_bioassay2.xml
Database_Data_Raw/ChEMBL_data/StaphylococcusAureus/Staphylococcus_aureus_bioactivities.csv
Database_Data_Raw/PubChem_data/Lassa/AID_540256.csv
Database_Data_Raw/PubChem_data/Marburg/AID_540276.csv
Database_Data_Raw/PubChem_data/SARS-CoV/AID_485353.csv
Input_Data/HuggingFace_models/ChemBERTa_100M_MLM/model.safetensors
Input_Data/HuggingFace_models/ChemBERTa_zinc_base/flax_model.msgpack
Input_Data/HuggingFace_models/ChemBERTa_zinc_base/pytorch_model.bin
Input_Data/HuggingFace_models/MIST_28M/model.safetensors
Input_Data/HuggingFace_models/MoLFormer_XL_both_10pct/model.safetensors
Input_Data/HuggingFace_models/MoLFormer_XL_both_10pct/pytorch_model.bin
Ebola/Results_Ebola/Step2B_BuildModel_wART/ART_ChemBERTa/ART_results/combinedEbolaVirusData_allDB_wchemberta_ARTready.csv
Ebola/Results_Ebola/Step2B_BuildModel_wART/ART_ChemBERTa_wPCA/ART_results/art.cpkl
Ebola/Results_Ebola/Step2B_BuildModel_wART/ART_ChemBERTa_wPCA/ART_results/art_chembarta.cpkl
Ebola/Results_Ebola/Step2B_BuildModel_wART/ART_MACAW/ART_results/art.cpkl
Ebola/Results_Ebola/Step2B_BuildModel_wART/ART_MIST/ART_results/art.cpkl
Ebola/Results_Ebola/Step2B_BuildModel_wART/ART_MIST/ART_results/art_mist.cpkl
Ebola/Results_Ebola/Step2B_BuildModel_wART/ART_MolFormer/ART_results/art.cpkl
Ebola/Results_Ebola/Step2B_BuildModel_wART/ART_MolFormer/ART_results/art_molformer.cpkl
Ebola/Results_Ebola/Step2B_BuildModel_wART/ART_MolFormer/ART_results/combinedEbolaVirusData_allDB_wmolformer_ARTready.csv
Ebola/Results_Ebola/Brincidofovir_reaction_pathways.csv
Ebola/Results_Ebola/Step3A_Antiviral_Compounds/Brincidofovir_Starter/BrincidofovirOnly_gen2__forward_saved_network.pgnet
Ebola/Results_Ebola/Step3A_Antiviral_Compounds/Brincidofovir_Starter/BrincidofovirOnly_gen2_network_pretreated.json
Ebola/Results_Ebola/Step3A_Antiviral_Compounds/Brincidofovir_Starter/reactionDF.csv
Ebola/Results_Ebola/Step3A_Antiviral_Compounds/Brincidofovir_Starter/reactionDF_wDORAXGBfeasibility.csv
Ebola/Results_Ebola/Step3A_Antiviral_Compounds/Remdesivir_Starter/RemdesivirOnly_gen2__forward_saved_network.pgnet
Ebola/Results_Ebola/Step3A_Antiviral_Compounds/Remdesivir_Starter/RemdesivirOnly_gen2_reactionDF_DORAXGB.csv
Ebola/Results_Ebola/Step3A_Antiviral_Compounds/Remdesivir_Starter/reactionDF_wDORAXGBfeasibility.csv
*.pgnet
BacillusAnthracis/Results_BacillusAnthracis/BacillusAnthracis_wchemberta_mist_ARTready.csv
BacillusAnthracis/Results_BacillusAnthracis/BacillusAnthracis_wchemberta_molformer_ARTready.csv
BacillusAnthracis/Results_BacillusAnthracis/BacillusAnthracis_wchemberta_molformer_mist_ARTready.csv
BacillusAnthracis/Results_BacillusAnthracis/BacillusAnthracis_wmolformer_mist_ARTready.csv
BacillusAnthracis/Results_BacillusAnthracis/BacillusAnthracis_allGeneratedCompounds_ARTprediction.csv
BacillusAnthracis/Results_BacillusAnthracis/BacillusAnthracis_allGeneratedCompounds_combined.csv
BacillusAnthracis/Results_BacillusAnthracis/BacillusAnthracis_allGeneratedCompounds_wMACAW.csv
BacillusAnthracis/Results_BacillusAnthracis/BacillusAnthracis_antibiotics_allPossible.csv
BacillusAnthracis/Results_BacillusAnthracis/Step2B_BuildModel_wART/ART_ChemBARTa/ART_results/BacillusAnthracisData_allDB_wchemberta_ARTready.csv
BacillusAnthracis/Results_BacillusAnthracis/Step2B_BuildModel_wART/ART_ChemBARTa_wPCA/ART_results/art.cpkl
BacillusAnthracis/Results_BacillusAnthracis/Step2B_BuildModel_wART/ART_ChemBARTa_wPCA/ART_results/art_chembarta.cpkl
BacillusAnthracis/Results_BacillusAnthracis/Step2B_BuildModel_wART/ART_MACAW/ART_results/art.cpkl
BacillusAnthracis/Results_BacillusAnthracis/Step2B_BuildModel_wART/ART_MIST/ART_results/BacillusAnthracisData_allDB_wmist_ARTready.csv
BacillusAnthracis/Results_BacillusAnthracis/Step2B_BuildModel_wART/ART_MIST/ART_results/art.cpkl
BacillusAnthracis/Results_BacillusAnthracis/Step2B_BuildModel_wART/ART_MIST/ART_results/art_mist.cpkl
BacillusAnthracis/Results_BacillusAnthracis/Step2B_BuildModel_wART/ART_MolFormer/ART_results/BacillusAnthracisData_allDB_wmolformer_ARTready.csv
BacillusAnthracis/Results_BacillusAnthracis/Step2B_BuildModel_wART/ART_MolFormer/ART_results/art.cpkl
BacillusAnthracis/Results_BacillusAnthracis/Step2B_BuildModel_wART/ART_MolFormer/ART_results/art_molformer.cpkl
BacillusAnthracis/Results_BacillusAnthracis/Step4_ADMET/BacillusAnthracis_generatedCompounds_wART.csv
BacillusAnthracis/Results_BacillusAnthracis/BacillusAnthracis_generatedCompounds_wART_diverseInput.csv
BacillusAnthracis/Results_BacillusAnthracis/BacillusAnthracis_generatedCompounds_wART_wADMET.csv
BacillusAnthracis/Results_BacillusAnthracis/BacillusAnthracis_generatedCompounds_wART_wADMET_checkpoint.csv
